:root {
  --white: #FFF;
  --black: #000;
}



@for $i from 1 through 5 {
  .color#{$i} {
    font-size: 10px * $i;
  }
}

@function add-10px($pixel) {
  $var: 10px;
  $pixel: $pixel+$var;
  @return $pixel;
}

@mixin grid($col) {
  display: grid;
  grid-template-columns: repeat($col , 1fr);
  gap: add-10px(0);
}

@mixin bp($taille) {

  @if $taille==sm {
    @media (min-width:640px) {
      @content;
    }
  }

  @if $taille==md {
    @media (min-width:768px) {
      @content;
    }
  }

  @if $taille==lg {
    @media (min-width:1024px) {
      @content;
    }
  }

  @if $taille==xl {
    @media (min-width:1280px) {
      @content;
    }

  }



}

body {
  @include grid(1);

  div {
    padding: add-10px(0);
  }
}

@include bp(sm) {
  body {
    @include grid(1);

    div {
      padding: add-10px(10);
    }
  }
}

@include bp(md) {
  body {
    @include grid(2);
  }
}

@include bp(lg) {
  body {
    @include grid(4);
  }
}

@include bp(xl) {
  body {
    @include grid(6);

    div {
      padding: add-10px(20);
    }
  }
}